{% extends "base.html" %}

{% block app_content %}

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tenant Name</th>
      <th scope="col">Count</th>

    </tr>
  </thead>
  <tbody>

    {% for key, value in names.items() %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{key}}</td>
      <td>{{value}}</td>

    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}
