{% extends "base.html" %}

{% block app_content %}
 <table class="table table-hover">
     <thead>
          <tr>
              {% if page and per_page%}
              <th scope="col">#</th>
               {% else %}
               {% endif %}
              <th>property_name</th>
              <th>add_01</th>
              <th>add_02</th>
              <th>add_03</th>
              <th>add_04</th>
              <th>unit_name</th>
              <th>tenant_name</th>
              <th>lease_start</th>
              <th>lease_end</th>
              <th>lease_years</th>
              <th>current_rent</th>

          </tr>
     </thead>
     <tbody>
    {% for tenant in tenants %}
           <tr>
               {% if page and per_page%}
                    <th scope="row">{{ loop.index + (page - 1) * per_page }}</th>
                {% else %}

               {% endif %}

               <td>{{ tenant.property_name }}</td>
               <td>{{ tenant.property_add_01 }}</td>
               <td>{{ tenant.property_add_02 }}</td>
               <td>{{ tenant.property_add_03 }}</td>
               <td>{{ tenant.property_add_04 }}</td>
               <td>{{ tenant.unit_name }}</td>
               <td>{{ tenant.tenant_name }}</td>
               <td>{{ tenant.lease_start_date.strftime('%d/%m/%Y') }}</td>
               <td>{{ tenant.lease_end_date.strftime('%d/%m/%Y') }}</td>
               <td>{{ tenant.lease_years }}</td>
               <td>{{ "{:.2f}".format(tenant.current_rent) }}</td>
           </tr>
    {% endfor %}
    <div>
     <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ 'Previous tenants' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Next tenants' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>

     </tbody>
      </table>
<div>
     {% if total %}<td colspan="11"><p class="text-right">Total: {{ "{:.2f}".format(total) }}</p></td>
        {% else %}{% endif %}
    </div>
{% endblock %}
