{% extends "base.html" %}

{% block app_content %}

<div class="list-group">
  <a href="{{ url_for('main.list_tenants', limit=5) }}" class="list-group-item list-group-item-action">
    1) Obtain the first 5 items from the list in ascending order
  </a>
    <a href="{{ url_for('main.list_lease_years', year=25) }}" class="list-group-item list-group-item-action">
    2) List tenants within 'Lease year = 25'
  </a>
    <a href="{{ url_for('main.group_by_name') }}" class="list-group-item list-group-item-action">
    3) Group by number of the mast count
  </a>
    <a href="{{ url_for('main.list_between_start_date') }}" class="list-group-item list-group-item-action">
    4) List the data with Lease Start Date between 1st June 1999 and 31 August 2007
  </a>
</div>
{% endblock %}
