{% extends "base.html" %}

{% block app_content %}
<h1>Upload new File</h1>
    <form method=post enctype=multipart/form-data>
      <input type="file" name="file" autocomplete="off" required>
      <input type=submit value=Upload>
    </form>
{% endblock %}

